



<div class="container-fluid">
    <div class="full_width_photo parallax-window transparent">
      <div class="page-title">
        <div class="title">
          <div class="container">
            <h4><marquee width = "1100" scrolldelay="60" scrollamount="2" onmouseover="stop();"  onmouseout="start();"">The students who take admision in university of balochistan will able to submit their hostel forms online to UOB Hostel.</marquee>
</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-gray">
    <div class="container">
      <p><h1>Rules for Hostel Card</h1></p>
    </div>
  </div>
  <div class="container">
    <div class="detail">
      <div class="col-md-6">
        <b>1</b><p>Students have regular admision in University of Balochistan as well as non local of Quetta city.</p>

        <b>2</b><p>Students should be first login and then fill the online form with his / her data then submit it.</p>

        <b>3</b><p>After the summition of form you have wait for two or three days untill your data can be varify by your department and then go to hostel and by hand you can summit your chalan copy with cleark and recive your hostel card.</p>

      <b>4</b><p>click on the link in form page for develop online chalan for hostel of Alied Bank and Habib Bank.</p>

      <b>5</b><p>Hostel fee is 4000 rupees that you mention in chalan and summit in bank.</p>

      <b>6</b><p>when filling the form you have 100 kb of maximum passport size pic and also summit your CNIC online during filling the form.</p>
      <a href="https://www.uob.edu.pk/Admissions/index.html">Addmision criteria UOB</a>
      <a href="https://www.uob.edu.pk/Admissions/index.html">Addmision criteria UOB</a>
      <a href="https://www.uob.edu.pk/Admissions/index.html">Addmision criteria UOB</a>
      <a href="https://www.uob.edu.pk/Admissions/index.html">Addmision criteria UOB</a>
      <a href="https://www.uob.edu.pk/Admissions/index.html">Addmision criteria UOB</a>

      </div>
      <div class="col-md-6">
        <%= link_to image_tag('Cs.jpg', width: '100%', height: '60') %>




      </div>
    </div>
    </div>



<!-- CSS -->
<style>
/* Force scrollbars onto browser window */
body {
margin-bottom: 200%;
}

/* Box styles */
.myBox {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 200px;
height: 200px;
overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background: gold;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: yellowgreen;  
}

::-webkit-scrollbar-thumb:hover {
background: #88ba1c;  
}
</style>
</head>
<body>



</body>
</html>